@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

body, html {
	margin: 0;
	overflow: hidden;
	user-select: none;
}

img {
	max-width: unset;
}

.transition-core {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, translate, scale, rotate;
}
